### Binaries and artifacts ###
*.jar
*.war
*.ear


### Gradle files ###
**/.gradle/
build/
java_pid**.hprof


### IntelliJ IDEA files ###
**/out/
**/.idea/
*.iws
*.ipr
*.iml


### Application logs ###
/logs


### Exception for gradle-wrapper.jar ###
!gradle-wrapper.jar